<div style="background-color: #ccc;">
    <div class="container">
        <div class="pt-5 d-flex flex-wrap align-items-stretch justify-content-between" id="after-course-slider-1">
            <div class="col-lg-4 col-md-12 col-xs-12 after-course-item"><iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="380" src="https://open.spotify.com/embed/track/5jIll9kXgKbIlq5YitruFJ" width="100%"></iframe></div>

            <div class="col-lg-4 col-md-12 col-xs-12 after-course-item"><iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="380" src="https://open.spotify.com/embed/track/66LSwCrbx1yQ4ZVuFNojj3" width="100%"></iframe></div>

            <div class="col-lg-4 col-md-12 col-xs-12 after-course-item"><iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="380" src="https://open.spotify.com/embed/track/3ouGvd2GV8HezshfKOegiK" width="100%"></iframe></div>
        </div>
    </div>
</div>

