<section class="sc__st-works" id="students-works">
    <div class="container">
        <div class="sc__header">
            <div class="sc__subtitle seo__item">VALERIE NYGAARD<br />
                COURSE INTRODUCTION</div>
        </div>

        <div class="works__slider-box">
            <div class="works__slider-area">
                <div class="works__slider">
                    <div class="works_iframe_container"><iframe class="works_iframe_block" src="https://www.youtube.com/embed/cWaS1Iqok6M?autoplay=1&amp;rel=0&amp;showinfo=0&amp;fs=0&amp;playsinline=1"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</section>